# export GEMINI_API_KEY="your-gemini-api-key"
export OPENAI_API_KEY="your-openai-api-key"
export PUBMED_MCP_URL="http://127.0.0.1:3017/mcp"
export CLINICAL_TRIALS_MCP_URL="http://127.0.0.1:3018/mcp"
export EXA_API_KEY="your-exa-api-key"
export EXA_MCP_URL="https://mcp.exa.ai/mcp?tools=web_search_exa,crawling_exa,company_research_exa&exaApiKey=your-exa-api-key"
export PYTHONPATH="/path/to/dod-deep-research"
export GOOGLE_CLOUD_PROJECT="your-gcp-project-id"
export GOOGLE_CLOUD_LOCATION="global"
export GOOGLE_GENAI_USE_VERTEXAI=True
export NEO4J_PASSWORD="your-neo4j-password"
export NEO4J_MCP_URL="http://localhost:3020/api/mcp/"
export NEO4J_USERNAME="neo4j"
export NEO4J_DATABASE="neo4j"
